html, body {
  margin: 0;
  padding: 0;
}

html {
  overscroll-behavior: contain;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  overflow: hidden;
  overscroll-behavior: none;
}

h1 {
  font-weight: normal;
}

canvas.loading {
  cursor: wait;
}

canvas {
  cursor: cell;
  transform-origin: top left;
  image-rendering: pixelated;
}
