html, body {
  margin: 0;
  padding: 0;
}

html {
  overscroll-behavior: contain;
}

body {
  background-color: black;
  color: white;
  overflow: hidden;
  overscroll-behavior: none;
}

h1 {
  font-weight: normal;
}

canvas.loading {
  cursor: wait;
}

canvas {
  cursor: cell;
  transform-origin: top left;
  image-rendering: pixelated;
}

#tutorial {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 4rem;
  pointer-events: none;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

#tutorial span:first-child {
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-middle-with-baseline;
}
