html, body {
  margin: 0;
  padding: 0;
}

html {
  overscroll-behavior: contain;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  overflow: hidden;
  overscroll-behavior: none;
}

canvas.loading {
  cursor: wait;
}

canvas {
  cursor: cell;
  transform-origin: top left;
  image-rendering: pixelated;
}

#tutorial {
  position: absolute;
  left: 50%;
  top: 50%;
  pointer-events: none;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
